.orderbook {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;

  & .orderlist:nth-child(1) {
    flex: 3 3 50%;
    margin-right: 10px;
  }

  & .orderlist:nth-child(2) {
    flex: 1 1 50%;
    margin-left: 10px;
  }
}
