.pair {
  &__arrow {
    width: 30px;
  }

  &__menu {
    position: absolute;
    top: 40px;
    display: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0;
    border-radius: 5px;
    background-color: $basic-white-color;

    @media (max-width: $screen-sm) {
      top: 35px;
    }

    @media (min-width: $screen-lg) {
      top: 45px;
    }
  }

  &__menu:hover {
    display: flex;
  }

  &__item {
    list-style: none;
    margin: 0;
    padding: 15px;
    font-size: 18px;
    color: $basic-black-color;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 5px;

    @media (max-width: $screen-sm) {
      font-size: 14px;
    }
  }

  &__item:hover {
    color: $basic-bright;
    background-color: $black-bright;
  }

  &__item:disabled {
    color: $basic-disabled-color;
    background-color: $black-bright;
    cursor: auto;
  }

  &__title {
    margin: 0;
    font-size: 30px;

    @media (max-width: $screen-sm) {
      font-size: 23px;
    }

    @media (min-width: $screen-lg) {
      font-size: 36px;
    }
  }
}

