.site-navigation {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $screen-sm) {
    padding-left: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-right: 25px;
    padding: 10px 0;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    color: $basic-white-color;
    transition: opacity 0.2s ease;
    font-size: 15px;

    @media (min-width: $screen-lg) {
      font-size: 16px;
    }
  }

  &__link:hover {
    color: $basic-bright;
    opacity: 0.3;
  }
  &__link--active {
    color: $basic-bright;
  }

  &__link--active::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: $basic-bright;
  }

  &__link--active:hover {
    opacity: 1;
  }
}
