.spinner-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 30px;
  height: 30px;

  & div {
    display: inline-block;
    position: absolute;
    left: 3px;
    width: 6px;
    background: $basic-bright;
    animation: spinner $spinner-speed-animation cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  & div:nth-child(1) {
    left: 3px;
    animation-delay: -0.24s;
  }

  & div:nth-child(2) {
    left: 12px;
    animation-delay: -0.12s;
  }

  & div:nth-child(3) {
    left: 21px;
    animation-delay: 0;
  }

  @keyframes spinner {
    0% {
      top: 3px;
      height: 24px;
    }

    50%, 100% {
      top: 9px;
      height: 12px;
    }
  }
}
