// Fonts
$main-font: "Montserrat", "Arial", sans-serif;

// Viewports
$container-large: 1170px;
$screen-lg: 1200px;
$screen-sm: 768px;

// Project colors
$background-color: #08131D;
$background-block-color: #12161c;
$basic-white-color:  #fafafa;
$basic-black-color:  #1e2026;
$basic-disabled-color: #d3d3d3;
$basic-bright: #f0b90b;
$black-bright: #1e202610;

$ticker-buy-color: #0ECB81;
$ticker-sale-color: #f6465d;

// timers
$transition-timer: 0.2s;
$spinner-speed-animation: 1.2s;
